
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="bg hidden-sm"></div>
  
    <div class="row">
    
        <div class="col">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Deposit</h3>
                </div>

                <div class="panel-body">
                    <p><h5>Pay R5000 as Deosit</h5></p>
                    <p>The Deposit wil be refunded.</p>
                </div>
                <div class="text-right">
                    @Html.ActionLink("Pay Now", "Deposit", "Payment", new { area = "" }, new { @class = "btn btn-block btn-success" })
                </div>
            </div>
        </div>
        <div class="col">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Administration fees</h3>
                </div>

                <div class="panel-body">
                    <p><h5>Pay R150 for Administration fees</h5></p>
                    <p></p>
                </div>
                <div class="text-right">
                    @Html.ActionLink("Pay Now", "AdminFees", "Payment", new { area = "" }, new { @class = "btn btn-block btn-success" })
                </div>
            </div>
        </div>
        <div class="col">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Registration and Deposit</h3>
                </div>

                <div class="panel-body">
                    <p><h5>Pay R5 150 for registartion fees and Deposit</h5></p>
                    <p>Youre Deposit of R5 000 will be refunded after the auction is concluded.</p>
                </div>
                <div class="text-right">
                    @Html.ActionLink("Pay Now", "AdminAndDeposit", "Payment", new { area = "" }, new { @class = "btn btn-block btn-success" })
                </div>
            </div>
        </div>
       
    </div>

</div>

