@model Auction_Prop_Buyers.Models.DisplayMadels.AuctionRegistration
@{
    ViewBag.Title = "_DeposiAndAdminFees";
}

<div class="col">

    <div class="panel panel-info">

        <div class="panel-heading">

            <h3 class="panel-title">Deposit And Admin fees Payment</h3>

        </div>



        <div class="panel-body">

            <p><h5>You need to pay R5 000.00 for Deposit And R150.00 for Admin fees</h5></p>

            <p>This is a once off payment, Youre deposit wil be refunded if yu do not win the auction.</p>

        </div>

        <div class="text-right">

            @Html.ActionLink("Pay Now", "_DeposiAndAdminFees", "PaymentGate", new { @class = "btn btn-block btn-success" })


        </div>

    </div>

</div>

