

.counter-box {
    display: block;
    background: #1d293d;
    padding: 40px 20px 37px;
    text-align: center
}

    .counter-box p {
        margin: 5px 0 0;
        padding: 0;
        color: #fff;
        font-size: 18px;
        font-weight: 500
    }

    .counter-box i {
        font-size: 60px;
        margin: 0 0 15px;
        color: #fff;
    }

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #fa7f15;
    line-height: 28px
}

.counter-box.colored {
    background: #fa7f15;
}

    .counter-box.colored p,
    .counter-box.colored i,
    .counter-box.colored .counter {
        color: #fff;
    }
