@{
    ViewBag.Title = "Buyers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auction-Prop | Buyers Guide</title>
    <link rel="icon" type="image/x-icon" href="~/assets/assets/img/White A.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/assets/assets/css/libs/swiper.min.css">
    <link rel="stylesheet" href="~/assets/assets/css/libs/material-components-web.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/assets/css/skins/blue.css">
    <link rel="stylesheet" href="~/assets/assets/css/responsive.css">
</head>

<body>
    <main>
        <div class="px-3">
            <div class="theme-container">
                <div class="my-5">
                    <div class="column center-xs middle-xs text-center">
                        <h1 class="uppercase">Buyers Guide</h1>
                    </div>
                    <div class="mdc-card p-5 my-3">
                        <h3>Account</h3>
                        <br>
                        <p>Every potential buyer needs to create an account to be able to register for the specific property. This will ensure the safety of all parties involved and all the necessary FICA requirements will be met.</p>
                        <br>
                        <h3>Registration</h3>
                        <p>
                            If you are interested to bid on one of our current properties that are listed, you will need to register to bid for the specific property you are interested in, as well as paying the R 5,150 bidders deposit.
                            This will ensure that there is a foundation of trust between both the seller and buyer. The information provided by both the seller and buyer will serve as security for both parties The process is straight
                            forward and the process involves the buyer to provide his/her proof of identification, proof of residence as well as a bidding deposit to be determined according to the value of the property and if successful
                            will bind all parties to complete the sale. After registration, there will be specialist brokers available to answer any questions to the registered property as well as viewings leading up to the Auction.
                        </p>
                        <br>
                        <h3>Bidding</h3>

                        <p>The bidding process can be broken up in the following steps:</p>
                        <ul class="px-3">
                            <li><strong>Account & Registration:</strong> Open an account (here) and complete individual registration via email received.</li>
                            <li><strong>Registration (Property):</strong> Once bidding opens, all registered bidders are free to place bids on their chosen properties (listings). Although bidding on all properties will open at the same time, each lot will have a different closing time, make sure to check the opening and closing times on your chosen properties so you're ready to go on the day. Automatic bids can be made earlier.</li>
                            <li><strong>Deposit:</strong> R 5,150 Bidding deposit must be made by each Bidder to Auction-Prop and would be refunded if a bid is unsuccessful.</li>
                            <li><strong>Open Viewings:</strong> Each property that is listed can also be viewed two weeks prior to the bidding date.</li>
                            <li><strong>Bidding:</strong> Every listed property has a reserve price, this is the lowest price the seller is willing to accept. This will not necessarily be the opening bid. Terms and conditions can be seen on our</li>
                        </ul>
                        <br>
                        <h3>Automatic and Manual Bidding</h3>
                        <p>Bids can me made manually or automatically. In the case you cannot make the bid on the day of the auction, you can set a Maximum Bid. The computer will enter bids for you up to the maximum amount that you specified on. No one will see your maximum bid until the amount is reached.</p>
                        <br>
                        <h3>Bidding Cut of Times</h3>
                        <p>Every lot has a separate cut of time. After every highest bid, there is a window of opportunity of 90 seconds to make a final bid. This is an extension that gives everyone their last change to place an additional counter-bid. This will continue until a full 90 seconds has passed.</p>
                        <br>
                        <h3>Due Diligence</h3>
                        <p>
                            It is important to familiarize yourself with the Rules of the auction and the Conditions of sale as part of the process as our digital sales are unconditional once a property is sold on the Auction-Prop platform, a legal contract has been formed and the successful bidder is legally obliged to complete the purchase.
                            The sale process is fully transparent: all bids are logged and displayed on the property page in real-time, and you'll know exactly what's happening at all times. There's no need to worry about privacy, though bidders are only identified by a number.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="back-to-top"><i class="material-icons">arrow_upward</i></div>
    <script src="~/assets/assets/js/libs/jquery.min.js"></script>
    <script src="~/assets/assets/js/libs/material-components-web.min.js"></script>
    <script src="~/assets/assets/js/libs/swiper.min.js"></script>
    <script src="~/assets/assets/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1rF9bttCxRmsNdZYjW7FzIoyrul5jb-s&callback=initMap" async defer></script>

</body>
</html>



