
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auction-Prop | Privacy Policy</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/13.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/assets/assets/css/libs/swiper.min.css">
    <link rel="stylesheet" href="~/assets/assets/css/libs/material-components-web.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/assets/css/skins/blue.css">
    <link rel="stylesheet" href="~/assets/assets/css/responsive.css">
</head>

<body>
    <main>
        <div class="px-3">
            <div class="theme-container">
                <div class="my-5">
                    <div class="column center-xs middle-xs text-center">
                        <h1 class="uppercase">Privacy Policy</h1>
                        <p class="text-muted fw-500">Persons accessing the Auction-Prop web site, Subject themselves to and Agree to Auction-Prop's Terms and Conditions as well as the Privacy Policy, as set out below.</p>
                    </div>
                    <div class="mdc-card p-5 my-3">
                        <h3>WEBSITE DISCLAIMER</h3>
                        <br>
                        <ol class="px-3">
                            <li> The information and content made available on this Web Site is provided by Auction-Prop, detailing information about our company and its services. We make no representations or warranties, implied or otherwise, that, amongst others, the content available on this Web Site is free from errors or omissions or that the service will be 100% uninterrupted and error free.</li>
                            <li> We have taken, and will continue to take, due care and diligence that all information provided on this Web Site is, to the best of our knowledge and understanding, true and correct. However, Auction-Prop shall not be liable for any damage, loss or liability of whatsoever nature arising from the use or inability to use this Web Site, any information or content provided from and through this Web Site.</li>
                            <li> There is no warranty of any kind, express or implied, regarding the information supplied on this Web Site or in respect of any aspect of our services. Any warranty implied by law is hereby excluded, except to the extent to which such exclusion would be unlawful.</li>
                            <li> Information, ideas and opinions expressed on this site should not be regarded as professional advice. Users are encouraged to consult Auction-Prop before taking any course of action related to information or opinions expressed on this site</li>
                            <li> This Web Site is supplied on an "as is" basis and has not been compiled or supplied to meet the user's individual requirements. It is the sole responsibility of the user, prior to entering into any agreement with Auction-Prop, to satisfy himself or herself that the service available through this Web Site will meet the user's individual requirements.</li>
                        </ol>
                        <br>
                        <h3>USAGE</h3>
                        <p>
                            This Web Site is only intended to provide the user with information regarding Auction-Prop, products offered and services rendered. Auction-Prop authorises the user to view, copy, download to a local drive, print, and distribute the content of this Web Site, or any part thereof, provided that: (a) such content is used for informational and/or non-commercial purposes only;
                            and (b) any reproduction of the content of this Web Site, or portions thereof, must include the following copyright notice: Auction-Prop. Users wishing to use any content from this site for commercial purposes may only do so with prior written permission from Auction-Prop.
                        </p>
                        <br>
                        <h3>INTELLECTUAL PROPERTY RIGHTS</h3>
                        <p>All content, trademarks and data on this Web Site, including but not limited to text, designs, graphics, and icons are the property of Auction-Prop. As such they are protected from infringement by domestic and international legislation and treaties. Subject to the rights afforded to the user herein, all other rights to all intellectual property on this site are expressly reserved and no license to Auction-Prop intellectual property has been granted on this Web Site.</p>
                        <br>
                        <h3>INFORMATION NOT UPDATED OR TO BE RELIED ON</h3>
                        <p>While Auction-Prop uses all reasonable efforts to include accurate and up-to-date information on the Web Site, Auction-Prop makes no warranties or representations with respect to the content of the Web Site Auction-Prop assumes no responsibility for updating the Web Site or its content or notifying users of information that is inaccurate, incomplete, or out-of-date.</p>
                        <br>
                        <h3>NO LIABILITY</h3>
                        <ol class="px-3">
                            <li>Auction-Prop assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect, your computer equipment or other property on account of your access to, use of, or browsing this Web Site or your downloading of any materials, data, text, or images from the Web Site.</li>
                            <li>Auction-Prop will not be held responsible or liable for any interruption or discontinuance of any or all functionality of this Web Site, whether the result of actions or omission of Auction-Prop or a third party.</li>
                            <li>Auction-Prop accepts no responsibility or liability whatsoever arising from or in any way connected with the use of this Web Site or its content. Auction-Prop will not be liable for the accuracy, completeness, adequacy, timeliness or comprehensiveness of the information contained on the Web Site.</li>
                        </ol>
                        <br>
                        <h3>CHANGES AND AMENDMENTS</h3>
                        <p>Auction-Prop expressly reserves the right to alter and/or amend any information set out in this Web Site without notice. Furthermore, Auction-Prop may at any time revise or update these terms and conditions. The user is bound by such revisions and should therefore periodically visit this page.</p>
                        <br>
                        <h3>6.  PARTNER PARTICIPATION</h3>
                        <p>
                            We welcome and encourage real estate brokers and agent’s participation. A commission or referral fee may be offered for some Properties and/or buyer introduction.
                            Brokers and or Agent’s are welcome to contact us at info@auction-prop.com for more information on becoming an Auction-Prop Partner. An Auction-Prop representative
                            will contact you with next steps.
                        </p>
                        <br>
                        <h3>AGREEMENTS IN TERMS OF SECTION 21 OF THE ELECTRONIC COMMUNICATIONS AND TRANSACTION ACT</h3>
                        <p>No information or data on this Web Site constitutes a solicitation, recommendation, endorsement or offer by Auction-Prop, but merely an invitation to do business. No agreements shall be concluded merely by sending a data message to this Web Site or its owners. Valid agreements require an acknowledgement and offer, or receipt from this Web Site.</p>
                        <br>
                        <h3>ELECTRONIC COMMUNICATIONS</h3>
                        <p>By using this Web Site or communicating with Auction-Prop by electronic means, the user consents and acknowledges that any and all agreements, notices, disclosures, or any other communication satisfies any legal requirement, including but not limited to the requirement that such communications should be in writing.</p>
                        <br>
                        <h3>LINKS TO THIRD PARTY SITES</h3>
                        <p>
                            Auction-Prop provides links to third party sites to the user only as a convenience. Such third party information is independent from that provided by Auction-Prop. Auction-Prop accepts no responsibility for the content or accuracy or the use of such other web sites and does not endorse, and shall not be deemed to have endorsed or accepted, their contents.
                            Linked web sites or pages are not subject to Auction-Prop control. Auction-Prop shall not be held responsible or liable, directly or indirectly, in any way for the contents of such web sites, the use of such web sites, or inability to use or access any linked web sites or any links contained in a linked Web Site.
                        </p>
                        <br>
                        <h3>SECURITY OF INFORMATION</h3>
                        <p>
                            It is expressly prohibited for any person, business or entity to gain or attempt to gain unauthorised access to any page on this Web Site, or to deliver or attempt to deliver any unauthorised, damaging or malicious code to this Web Site Any person who delivers or attempts to deliver any unauthorised, damaging or malicious code to this Web Site or attempts to gain unauthorised access to any page on this Web Site shall be held criminally liable.
                            In the event that Auction-Prop should suffer any damage or loss, civil damages will be claimed.
                        </p>
                        <br>
                        <h3>SEVERABILITY</h3>
                        <p>
                            These terms and conditions of use constitute the entire agreement between Auction-Prop and the user of this Web Site Any failure by Auction-Prop to exercise or enforce any right or provision of these terms and conditions of use shall in no way constitute a waiver of such right or provision.
                            In the event that any term or condition of the use of this Web Site is not fully enforceable or valid for any reason, such term(s) or condition(s) shall be severable from the remaining terms and conditions. The remaining terms and conditions shall not be affected by such enforceability or invalidity and shall remain enforceable and applicable.
                        </p>
                        <br>
                        <h3>APPLICABLE AND GOVERNING LAW</h3>
                        <p>This Web Site is hosted, controlled and operated from the Republic of South Africa , and thus South African law governs the use or inability to use this Web Site and these terms and conditions.</p>
                        <br>
                        <h3>CONTACT INFORMATION</h3>
                        <p>Any questions, queries, or requests to use any part of this Web Site can be directed to:</p>
                        <p>Auction-Prop: Contact Number: 082 461 6555, alternatively, please make use of our Contact Us page</p>
                        <br>
                        <h3>PRIVACY POLICY</h3>
                        <p>
                            Auction-Prop respects your privacy and is committed to keeping your information confidential. Generally, you can visit our Web Site without having to divulge any personal information about yourself. However, while using this Web Site you may provide information about yourself or it may be collected by us.
                            Any and all information collected at this site will be kept strictly confidential. It will not be sold, loaned, reused or otherwise disclosed to any organisation. This applies to e-mail addresses and all other personal information.
                            We will only disclose or report personal information if and when required to do so by law or any regulatory authority and to our employees who require such information to carry out their duties.
                            Personal information is used as is appropriate in the normal course of business to provide the products and services you have requested. We may retain any information for purposes of ongoing business relationships or to communicate directly with you.
                            Upon request we will furnish you with details of the personal information we hold about you. You may submit your request via our contact us page. Should you believe that any information we hold about you is incorrect, please inform us at the above page and we will correct it.
                            Please note that, while all attempts are made to secure information transmitted to this Web Site, if you are submitting personal details or other information over the Internet which you wish to remain private, there is a possibility that information you submit could be observed by a third party while in transit.
                        </p>
                        <br>
                        <h3>E-MAIL ADDRESS</h3>
                        <p>We will only record your e-mail address if you send us a message. It will only be used for the purpose for which you provide it and will not be added to a mailing list unless you request that this be done. We will not disclose it without your consent.</p>
                        <br>
                        <h3>E-MAIL SUBSCRIPTIONS</h3>
                        <p>We maintain a list of e-mail addresses to which Auction-Prop Newsletter, our regular newsletter, is sent. Individuals must affirmatively request to join this list by using the subscribe form on the subscriptions page. Any members of this list may choose to unsubscribe at any time by using the same form. Our list server has been configured in such a way that the e-mail addresses can only be accessed by authorised Auction-Prop staff.</p>
                        <br>
                        <h3>COOKIES</h3>
                        <p>
                            This Web Site makes use of cookies - a very small text file placed on your hard drive by a web server. Basically, it is your unique identification card that can only be read by the server that gave it to you.
                            Our server generates one cookie which is used to keep track of the pages you have accessed while using our server. The cookie allows you to page back and forwards through the Web Site and return to pages you have already visited. The cookie exists only for the time you are accessing our server.
                            Cookies are not used for any other purpose at this Web Site We do not use cookies to collect personal information.
                            You may prevent the use of cookies by configuring your web browser accordingly. This may, however, hinder the web site's functionality.
                        </p>
                        <br>
                        <h3>INFORMATION LOGGED</h3>
                        <p>When you visit this Web Site, our server logs the following information provided by your browser:</p>
                        <ol class="px-3">
                            <li>The type of browser and operating system your computer uses.</li>
                            <li>Your domain name extension (for example .com, .co.za).</li>
                            <li>The referring site's address (the site where you clicked the link that led you to us).</li>
                            <li>Your server's IP address (a number which is unique to the computer connecting you to the Internet, which is usually one of your service provider's computers).</li>
                            <li>The date and time of your visit.</li>
                            <li>The address of the pages visited.</li>
                            <li>The documents downloaded.</li>
                        </ol>
                        <p>This information is used only for statistical analysis or system administration purposes. It is not associated or correlated with any other information we collect about you.</p>
                        <br>
                        <h3>LINKS TO OTHER SITES</h3>
                        <p>If you have any questions about this Privacy Policy, please contact us:  By email: info@auction-prop.com</p>
                        <br>
                        <h3>GOOGLE DISCLAIMER</h3>
                        <p>We use third-party advertising companies to serve ads when you visit our website. These companies may use information (not including your name, address, email address, or telephone number) about your visits to this and other website's in order to provide advertisements about goods and services of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these companies.</p>
                        <br>
                        <p class="text-right">© Auction-Prop 2020 All Rights Reserved </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="back-to-top"><i class="material-icons">arrow_upward</i></div>
    <script src="~/assets/assets/js/libs/jquery.min.js"></script>
    <script src="~/assets/assets/js/libs/material-components-web.min.js"></script>
    <script src="~/assets/assets/js/libs/swiper.min.js"></script>
    <script src="~/assets/assets/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1rF9bttCxRmsNdZYjW7FzIoyrul5jb-s&callback=initMap" async defer></script>

</body>
</html>

