@{
    ViewBag.Title = "Sellers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auction-Prop | Sellers Guide</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/13.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/assets/assets/css/libs/swiper.min.css">
    <link rel="stylesheet" href="~/assets/assets/css/libs/material-components-web.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/assets/css/skins/blue.css">
    <link rel="stylesheet" href="~/assets/assets/css/responsive.css">
</head>

<body>

    <main>
        <div class="px-3">
            <div class="theme-container">
                <div class="my-5">
                    <div class="column center-xs middle-xs text-center">
                        <h1 class="uppercase">Sellers Guide</h1>
                    </div>
                    <div class="mdc-card p-5 my-3">
                        <h3>What are the advantages of Auctions?</h3>
                        <br>
                        <ol class="px-3">
                            <li><strong>Immediacy:</strong> At the fall of the hammer you will exchange contracts.</li>
                            <li><strong>Speed:</strong> From the time we commence marketing to exchange of contracts is only 4-6 weeks.</li>
                            <li><strong>Wider Marketing:</strong> Your property will receive maximum exposure of the market and inclusion on all social media as well as our website.</li>
                            <li><strong>Confidence:</strong> Buyers have more confidence, because they know that sellers are committed to selling and not likely to waste time. If buyers are more confident, then that good for you, the seller.</li>
                            <li><strong>Decisive:</strong> Buyers are forced to get organized and make decisions.</li>
                            <li><strong>Competitive:</strong> Buyers bid in a competitive atmosphere.</li>
                            <li><strong>Certainty:</strong> The fall of the gavel is the point when automatic exchange of contracts takes place.</li>
                            <li><strong>Transparency:</strong> The best price is seen to be achieved, thus satisfying all parties.</li>
                            <li><strong>Completion:</strong> This usually takes place 30-45 days from the Auction.</li>
                        </ol>
                        <br>
                        <h3>What happens when selling by Auction?</h3>
                        <p>
                            If you are interested to bid on one of our current properties that are listed, you will need to register to bid for the specific property you are interested in, as well as paying the R 5,150 bidders deposit.
                            This will ensure that there is a foundation of trust between both the seller and buyer. The information provided by both the seller and buyer will serve as security for both parties The process is straight
                            forward and the process involves the buyer to provide his/her proof of identification, proof of residence as well as a bidding deposit to be determined according to the value of the property and if successful
                            will bind all parties to complete the sale. After registration, there will be specialist brokers available to answer any questions to the registered property as well as viewings leading up to the Auction.
                        </p>
                        <br>
                        <ol class="px-3">
                            <li>Auction-Prop will carry out a valuation and either advise you or confirm that the property is suitable to be sold by auction.</li>
                            <li>The price guide and expected reserve price will be discussed and agreed.</li>
                            <li>We have preset dates for auctions and the best date and venue to sell your property will be agreed.</li>
                            <li>The marketing campaign will be explained.</li>
                            <li>You will need to sign our sole and auction agency agreements and pay an entry fee.</li>
                            <li>After our agency agreements are signed, we will instruct your solicitors to prepare a legal pack. This pack will be published on our auction website as soon as it is available and therefore the quicker that you instruct your solicitor the better.</li>
                            <li>Sales details will be prepared for your approval.</li>
                            <li>Adverts will be placed, details circulated on mailing lists and viewings arranged.</li>
                            <li>You will be kept informed of the interest levels in the property.</li>
                            <li>You will be advised of offers that have been qualified. Unqualified or uncorroborated offers may not be put forward to you.</li>
                            <li>You will be advised of our final recommendation for the reserve in the week prior to the auction having considered the level of interest shown during marketing.</li>
                            <li>You will need to sign and return the final reserve figure by letter.</li>
                            <li>Completion will take place with your solicitors in the usual way.</li>
                        </ol>
                        <br>
                        <h3><strong>Please contact us for more information. Or attend one of our auctions to see how they work.</strong></h3>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="back-to-top"><i class="material-icons">arrow_upward</i></div>
    <script src="~/assets/assets/js/libs/jquery.min.js"></script>
    <script src="~/assets/assets/js/libs/material-components-web.min.js"></script>
    <script src="~/assets/assets/js/libs/swiper.min.js"></script>
    <script src="~/assets/assets/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1rF9bttCxRmsNdZYjW7FzIoyrul5jb-s&callback=initMap" async defer></script>

</body>
</html>




