
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auction-Prop | Terms and Conditions</title>
    <link rel="icon" type="image/x-icon" href="~/assets/assets/img/White A.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/assets/assets/css/libs/swiper.min.css">
    <link rel="stylesheet" href="~/assets/assets/css/libs/material-components-web.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/assets/css/skins/blue.css">
    <link rel="stylesheet" href="~/assets/assets/css/responsive.css">
</head>

<body>
    <main>
        <div class="px-3">
            <div class="theme-container">
                <div class="my-5">
                    <div class="column center-xs middle-xs text-center">
                        <h1 class="uppercase">Terms & Conditions</h1>
                        <p class="text-muted fw-500">In using this website you are deemed to have read and agreed to the following terms and conditions:</p>
                    </div>
                    <div class="mdc-card p-5 my-3">
                        <h3>The Rules of the Auction comply with Section 45 of Consumer Protection Act 68 of 2008 and the Regulations thereto (“the CPA”).</h3>
                        <br>
                        <p>
                            The Rules (“Rules”) contained in this document apply to each auction, marketing or transactional events (“Event”) conducted by Auction-Prop (“Auction-Prop”)
                            on behalf of a Seller (“Seller”)  of  property (“Property”, and in a collective, “Properties”).
                            As indicated in these Rules, every prospective buyer who participates, in any Auction or event, is referred to as a “Participant”. As used in these Rules,
                            the terms “Auction-Prop”, “Seller” and “Participant” also refer to the respective principals, agents, and affiliates of each.
                            Highest Bidder or Winning Buyer (“Winning  Buyer”) is the Participant that (a) Submits  the  highest net bid in any Auction and is acknowledged by a member
                            of “Auction-Prop” by email or telephone as the winning bidder, or (b) Submits any offer during any Auction that is accepted by the Seller. As indicated in these
                            Rules, each bid or offer submitted in any Auction is an “Offer”.
                            Auction-Prop conducts all Auction Events solely on behalf of the Seller and is not in any way acting as an agent for any Participant in any capacity.
                            By registering for an Auction or submitting an Offer at www.auction-prop.com, the Participant acknowledges having read and accepted these Terms.
                            By submitting an Offer on any Property, the Participant is deemed to have accepted any additional terms and conditions posted on the Property’s details page on
                            the Website (“Property Page”) at the time the Offer was submitted, and such terms and conditions govern and control over these Rules to the extent of any conflict.
                            Auction-Prop’s Terms of Use and Privacy Policy is incorporated into these Terms by reference.
                            The headings of the clauses are for the purpose of convenience and reference only and shall not be used in the interpretation of nor modify nor amplify the terms of
                            this Agreement nor any clause.
                        </p>
                        <br>
                        <h3>1.  DEFINITIONS:</h3>
                        <p>
                            In this document, unless a contrary intention clearly appears, the terms shall have the meanings assigned to hereunder and cognate expressions shall have corresponding
                            meanings, namely:
                        </p>
                        <ul class="px-3">
                            <li><strong>“CPA”</strong> shall mean Section 45 of the Consumer Protection Act 68 of 2008 and the Regulations thereto</li>
                            <li><strong>“Rules”</strong> shall mean the Participation Rules</li>
                            <li><strong>“Auction-Prop”</strong> shall mean Auction-Prop Auctioneers</li>
                            <li><strong>“Property/Properties”</strong> shall mean the immovable property advertised on the Auction-Prop platform for which the Participant is bidding</li>
                            <li><strong>“Event”</strong> shall mean the online auction hosted by Auction-Prop</li>
                            <li><strong>“Seller”</strong> shall mean the registered owner of the property being auctioned during the Event</li>
                            <li><strong>“Participant”</strong> shall mean the fully registered bidder on Auction-Prop’s online auction platform</li>
                            <li><strong>“Registration fee”</strong> shall mean the monies a Participant pays in order to bid on a Property</li>
                            <li><strong>“Winning Buyer”</strong> shall mean the Participant that places the highest bid on the Property at any online Auction and subject to confirmation by the Seller</li>
                            <li><strong>“Purchase documents”</strong> shall mean the Auction-Prop’s Auction Sale Agreement</li>
                            <li><strong>“Buyer’s deposit”</strong> shall mean the amount specified in the Transaction Documents or the Property Listing Page for the Property</li>
                            <li><strong>“Transaction documents”</strong> shall mean the Auction Sale Agreement (including addenda), the Property due diligence documentation and all other documents pertaining to the transaction</li>
                            <li><strong>“Offer”</strong> shall mean the highest bid made by the Winning Buyer</li>
                            <li><strong>“Parties”</strong> shall mean the Seller, Winning Buyer and Auction-Prop</li>
                            <li><strong>“Nominated conveyancer”</strong> shall mean the transfer attorney appointed by the Seller</li>
                            <li><strong>“Buyer’s premium/transaction fee”</strong> shall mean the amount showing on the Property Listing Page due by the Winning Buyer together with the Offer amount prior to closing the transaction</li>
                            <li><strong>“Properties Page”</strong> shall mean the page on Auction-prop’s platform containing the Property details for the Event</li>
                            <li><strong>“Reserve Price”</strong> shall mean the minimum selling price as established by the Seller</li>
                            <li><strong>“Closed bid event”</strong> shall mean a closed bid process in which Participants are invited either by the Seller or by Auction-Prop</li>
                            <li><strong>“Indicative bid”</strong> shall mean a non-binding bid made by a Participant during the Closed Bid Event</li>
                        </ul>
                        <br>
                        <h3>2.  REGISTRATION AND ACCOUNT CREATION PROCESS</h3>

                        <p>
                            Every Participant must register an account on www.auction-prop.com in order to participate in any Auction.
                            To participate as a bidder in an Auction, Participants will have to complete a full registration as well as pay a refundable registration fee. The registration fee will be indicated on the property listing page. As part of the registration process you will be required to upload, on the participant’s profile page, the following documents:
                        </p>
                        <ul class="px-3">
                            <li>Copy of ID</li>
                            <li>Selfie photograph of the participant holding their identification</li>
                            <li>Proof of Address</li>
                            <li>Letter of authority if bidding on behalf of an entity</li>
                        </ul>
                        <br>
                        <p>
                            Winning Buyer’s registration fee will be applied towards the required “Buyer’s deposit”, unless the registration fee was made by a credit card hold, in which case such hold will be released after confirmation that the “Purchase Documents” have been fully signed and the Buyers Deposit has been received timely. All registration fees from Participants other than Winning Buyer will be refunded after the Event within 24 (twenty-four) hours of the end of the auction.
                            Auction-Prop may modify, waive, or impose additional participation requirements for certain Properties or Participants in its sole and absolute discretion or at the request of Seller.
                        </p>
                        <br>
                        <h3>3.  DUE DILLEGENCE</h3>
                        <h4>3.1.  Transaction Documents</h4>
                        <p>
                            Prior to bidding, Participants must review the Auction Sale agreement, any applicable addenda, property due diligence
                            documentation, and all other transaction documents (collectively, “Transaction Documents”), which can be accessed on
                            the Properties Page. All Offers must be written on the posted Transaction Documents. For auctions, any queries or
                            negotiation on revisions on any terms and/or clauses contained in the Transaction Documents must be concluded, and
                            agreed to, no later than 48 hours prior to the auction start time with all parties having agreed to such revisions
                            in writing. For non-auction Events, all revised terms agreed to by the “Parties” shall be incorporated into the final
                            Transaction Documents where applicable.
                        </p>

                        <h4>3.2.  Due Diligence</h4>
                        <p>
                            It is each Participant’s responsibility to conduct their own due diligence and investigate all matters relating to
                            each Property that the Participant is interested in purchasing, including, without limitation, legal matters, physical
                            condition and attributes, environmental matters, economic matters, encumbrances, and all other aspects. The Participant
                            must coordinate any such inspection with the Seller, Seller’s Representative or Nominated Sales Consultant. In some circumstances
                            the Seller, Seller’s Representative or Sales Consultant may be unable to provide physical access for inspections, and Participants
                            must submit an Offers accordingly at their own risk. All Offers should be based solely on the Participant’s independent due
                            diligence and any information contained in the  Transaction Documents.
                            Property information has been gathered from a variety of sources and has not been independently verified by Auction-Prop.
                            Participants are encouraged to consult with a team of professionals including, but not limited to: licensed real estate agents;
                            contractors; attorneys; financial advisors; tax advisors; town planners and engineers.
                            The Participant is responsible for all liability, damages, and costs directly or indirectly arising from the Participant’s
                            inspection, visit, or investigation of the Property. The Participant agrees to indemnify, defend and hold harmless the Seller,
                            Auction-Prop or any Auction-Prop representatives, from any such liability, damages, and costs, and to maintain all applicable
                            policies of insurance, insuring over such liability, damages and costs.
                        </p>
                        <br>
                        <h3>4.  BUYING</h3>
                        <h4>4.1.  Irrevocability of Offers</h4>
                        <p>
                            All Offers submitted during any Auction are irrevocable, except where an Offer withdrawal option is expressly made available to
                            Participants through the Auction-Prop Website.
                        </p>

                        <h4>4.2.  Signing Purchase Documents</h4>
                        <p>
                            The final Auction Sales Agreement will be emailed to Winning Buyer for signature using the email address associated with Winning
                            Buyer’s account. The Winning Buyer must sign & submit, via email to their assigned Auction-Prop consultant, the Auction Sales
                            Agreement within 24 (Twenty-Four) hours (unless a longer time frame is specified in writing by Auction-Prop) after it is sent to
                            the Winning Buyer by Auction-Prop. If the Winning Buyer fails to timely sign the Auction Sales Agreement, Auction-Prop or the Seller
                            may declare the Winning Buyer to be in default of these Terms and the Seller may reject the Winning Buyer’s Offer.
                        </p>

                        <h4>4.3.  Payment of Buyer’s Deposit</h4>
                        <p>
                            The Auction Sales Agreement for each Property requires the Winning Buyer to pay a deposit to the Auction-Prop’s trust account or
                            nominated conveyancing attorney’s trust account. The amount of the Buyer’s Deposit is specified in the Transaction Documents or
                            the Properties Page for each Property. Unless otherwise specified in the Transaction Documents, the Buyer’s Deposit must be received
                            no later than 5:00 PM on the first business day after the Winning Buyer is notified that Seller has countersigned the Auction Sales
                            Agreement. If the Buyer’s Deposit is not timely received, Auction-Prop or the Seller may declare the Winning Buyer to be in default
                            of these Terms and Seller may reject Winning Buyer’s Offer.
                        </p>

                        <h4>4.4.  Proof of Funds and Additional Information</h4>
                        <p>
                            Auction-Prop or the Seller may require Participants to provide proof of readily available funds or additional information at any
                            time prior to registration approval, submission of an Offer, or acceptance of an Offer. If Auction-Prop or the Seller requires
                            the Winning Buyer to provide proof of funds and/or additional information and same is not timely received, Auction-Prop or the
                            Seller may reject the Winning Buyer’s Offer.
                        </p>

                        <h4>4.5.  Entity Buyers</h4>
                        <p>
                            Winning Buyers wanting to take transfer in the name of an entity may be required to provide entity information documents and
                            resolutions authorizing the purchase within the timeframe specified by Auction-Prop which may be before or after the Auction,
                            in Auction-Prop’s sole discretion. The Seller or the nominated conveyancing attorney may require additional documentation
                            prior to closing.
                        </p>

                        <h4>4.6.  Buyer’s Premium</h4>
                        <p>
                            The Properties Page for a Property will state that a buyer’s premium or transaction fee (“Buyer’s Premium”) applies to
                            the sale, the Winning Buyer will be required to pay the Buyer’s Premium in addition to the Winning Buyer’s Offer amount
                            at closing. Unless otherwise specified for a particular Property, the Buyer’s Premium will be added to the Winning Buyer’s
                            Offer amount to establish the total purchase price payable by the Winning Buyer. If the Property is purchased from the Seller
                            outside of Auction-Prop’s platform within 12 (twelve) months after the date, the Participant acknowledges these Terms, the
                            Participant agrees to be responsible to Auction-Prop for full payment of the Buyer’s Premium that would have been payable if
                            the Participant had purchased the Property through Auction-Prop’s platform.
                        </p>
                        <br>
                        <h3>5.  AUCTIONS</h3>
                        <h4>5.1.  Reserve Price</h4>
                        <p>
                            Unless otherwise stated, all Properties at an auction has a minimum selling price established by the Seller (“Reserve Price”). The starting bid is
                            not the Reserve Price. Auction-Prop may counter bid on behalf of the Seller on any Property up to, but not exceeding, the amount of the Reserve Price,
                            and no such bid will result in a sale of the Property. If the Reserve Price is not met, the Seller is under no obligation to sell the Property; however,
                            the Seller may accept a bid that is below the Reserve Price in its sole and absolute discretion.
                        </p>

                        <h4>5.2.  Closed Bid Events</h4>
                        <p>
                            For Properties to be marketed in a Closed Bid Event, Participants are invited by Auction-Prop or the Seller to submit a non-binding indicative bid
                            (“Indicative Bid”) before the Closed Bid Event. In order to submit an Indicative Bid, Participant must complete an Indicative Bid Form posted on the
                            Property Page prior to the auction date. No deposit is required to submit an Indicative Bid; however, Participant registration is required. Submission
                            and acceptance of an Indicative Bid does not legally bind either the Participant or the Seller. If the Seller decides to proceed with the Closed Bid Event,
                            the Seller will review the Indicative Bids for the Property and use them to determine which Participants may participate in the Closed Bid Event, in the
                            Seller’s sole and absolute discretion.
                        </p>

                        <h4>5.3.  Extension of Auction Time</h4>
                        <p>
                            The extension of time will allow for delays in bids reaching the platform due to connection challenges. If a bid is made within 60 seconds of the closing
                            time of the online auction, the timer will automatically add another 60 seconds onto the auction timer. This process will repeat until no more bids are
                            received. Auction-Prop may extend the time for bidding in any auction Event in its sole and absolute discretion.
                        </p>
                        <br>
                        <h3>6.  PARTNER PARTICIPATION</h3>
                        <p>
                            We welcome and encourage real estate brokers and agent’s participation. A commission or referral fee may be offered for some Properties and/or buyer introduction.
                            Brokers and or Agent’s are welcome to contact us at info@auction-prop.com for more information on becoming an Auction-Prop Partner. An Auction-Prop representative
                            will contact you with next steps.
                        </p>
                        <br>
                        <h3>7.  GENERAL INFORMATION</h3>
                        <p>
                            The Seller and Auction-Prop reserve the right to deny, limit, or impose conditions on submitting Offers or access to the Website or any Event at any time, for any
                            reason, including, without limitation, Participant’s solvency, credit history, transaction history, and registration fees.
                            Auction-Prop may postpone or cancel an Auction or Event, rearrange the order or sequence of the Properties in the Event, modify these Terms by posting notice of modification
                            on the Properties Page, remove any Property from the Auction or Event, or reject any or all Offers.
                            Auction-Prop, the Sellers and their agents may issue press releases and other public communications regarding the Auction and any Property offered or sold during an Auction.
                            These Terms and the conduct of each Auction shall be governed by the Consumer Protection Act No. 68 of 2008 (“the CPA”)
                            Auction-Prop may place Offers on behalf of Participants in accordance with their instructions. Auction-Prop is not responsible for failing to place any such Offer or for any
                            errors that may occur during the placement of any such Offer.
                            Any information on any website, in any brochure, e-mail, or postcard, and any information available regarding the Properties shall not constitute an offer to sell or a
                            solicitation of any offer to buy any of the Properties. Offers submitted or solicitations made during any Auction are void where prohibited by law.
                            As between the Seller and the Participant, no obligation to sell shall be binding on the Seller unless and until the Purchase Documents have been signed and delivered
                            by the Seller and the Buyer’s Deposit has been received as required hereunder. After the Auction Sale Agreement has been fully signed, the Auction Sales Agreement shall
                            govern the relationship between the Winning Buyer and Seller.
                        </p>
                        <br>
                        <h3>8.  DISCLAIMERS; PARTICIPANT REPRESENTATIONS; CANCELLATION; LIQUIDATED DAMAGES</h3>
                        <p>
                            Auction-Prop makes no representations or warranties of any kind or character whatsoever, whether express or implied, with respect to any property or legal sufficiency
                            or tax consequences of any document provided by Auction-Prop. Each participant hereby releases Auction-Prop and its employees, officers, directors, representatives,
                            attorneys, brokers and agents (collectively, "representatives") from any and all claims that any such participant may now have or hereafter acquire against Auction-Prop
                            or any of its representatives for any damage or injury resulting form or relating to any errors,
                        </p>
                        <br>
                        <h3>
                            DISCLAIMERS; PARTICIPANT REPRESENTATIONS; CANCELLATION; LIQUIDATED DAMAGES
                            Continued:
                        </h3>
                        <p>
                            omissions or other conditions affecting any property, the documents used in evaluating or acquiring any property, or the conducting of any auction. This release includes
                            claims of which participant is presently unaware or does not presently suspect to exist in the participants favour which, if known by the participant, would materially
                            affect the participant's release of Auction-Prop.
                            Cancellation; Liquidated Damages. If the winning buyer breaches these terms, the winning buyer's offer may be rejected by Auction-Prop or the seller, the property may
                            be immediately sold to another participant or placed in another auction, and the winning buyer will be responsible for paying Auction-Prop Liquidated damages in an amount
                            equal to (a) the amount of the registration fee shown at the time of registration (whether or not the winning buyer actually made such registration fee) or (b) if no
                            registration fee was shown at the time of registration, 10% of the winning buyer's offer for the property. If the winning buyer made a registration fee payment by credit
                            card in the amount of such hold to satisfy all or part of the liquidated damages owed by the winning buyer. The Winning buyer acknowledges that the actual damages resulting
                            from the winning buyer's breach of these terms would be difficult and impractical to calculate, and that the liquidated damages amount set forth herein is a reasonable
                            pre-estimate of the resulting damages to Auction-Prop and is not a penalty or forfeit.
                        </p>
                        <br>
                        <h3>
                            These terms and conditions form part of the Agreement between the Client and ourselves. Your accessing of
                            this website and/or undertaking of a booking or Agreement indicates your understanding, agreement to and
                            acceptance, of the Disclaimer Notice and the full Terms and Conditions contained herein. Your statutory
                            Consumer Rights are unaffected.
                        </h3>

                        <p class="text-right">© Auction-Prop 2020 All Rights Reserved </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="back-to-top"><i class="material-icons">arrow_upward</i></div>
    <script src="~/assets/assets/js/libs/jquery.min.js"></script>
    <script src="~/assets/assets/js/libs/material-components-web.min.js"></script>
    <script src="~/assets/assets/js/libs/swiper.min.js"></script>
    <script src="~/assets/assets/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1rF9bttCxRmsNdZYjW7FzIoyrul5jb-s&callback=initMap" async defer></script>

</body>
</html>
