@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            @Html.ActionLink("Profile", "Index", "Buyers", routeValues: null, htmlAttributes: new { title = "Manage"  ,@class = "nav-link"})
        </li>
        <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class = "nav-link">Log off</a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">

    <li class="nav-item">
        <a>@Html.ActionLink("Sign up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</a>
    </li>
    <li class="nav-item">
        <a>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</a>
    </li>

</ul>
}
