@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auction-Prop | Lock Screen</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/13.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="~/assets/assets/css/libs/swiper.min.css" />
    <link rel="stylesheet" href="~/assets/assets/css/libs/material-components-web.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/assets/css/skins/blue.css" />
    <link rel="stylesheet" href="~/assets/assets/css/responsive.css" />
    <script src="~/assets/assets/js/libs/jquery.min.js"></script>
    <script src="~/assets/assets/js/libs/material-components-web.min.js"></script>
    <script src="~/assets/assets/js/libs/swiper.min.js"></script>
    <script src="~/assets/assets/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1rF9bttCxRmsNdZYjW7FzIoyrul5jb-s&callback=initMap" async defer></script>

</head>
<body

<main class="h-200">
       <div class="column center-xs middle-xs h-100 p-3 lock-screen">
            <form action="javascript:void(0);" class="row center-xs middle-xs">
                <h3 class="name text-muted">Adam Sandler</h3>
                <img src="~/assets/assets/img/images/profile/adam.jpg" alt="user-image" class="mdc-elevation--z4">
                <input placeholder="Enter password" type="password">
                <button class="mdc-icon-button material-icons submit primary-color" type="submit">arrow_forward</button>
                <a href="login.html" class="mdc-button mdc-ripple-surface mdc-ripple-surface--primary primary-color normal">
                    Or sign in as a different user
                </a>
            </form>
            <p class="time"></p>
       </div>
    </main>

<!--<div id="back-to-top"><i class="material-icons">arrow_upward</i></div>-->
<script src="~/assets/assetsjs/libs/jquery.min.js"></script>
<script src="~/assets/assetsjs/libs/material-components-web.min.js"></script>
<script src="~/assets/assetsjs/libs/swiper.min.js"></script>
<script src="~/assets/assets/js/scripts.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1rF9bttCxRmsNdZYjW7FzIoyrul5jb-s&callback=initMap" async defer></script>

    </body>
</html>