
@{
    ViewBag.Title = "Buyers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en-US">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Auction-Prop.com | Buyers</title>

    <!-- Favicons -->
    <link href="~/assets/img/fat.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef4e2c1ac6.js" crossorigin="anonymous"></script>

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="~/Content2/bootstrap1.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/animate.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.css" type="text/css">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Property Search Section Start ======= -->
    <div class="click-closed"></div>

    <div class="box-collapse">
        <div class="title-box-d">
            <h3 class="title-d">Search Property</h3>
        </div>
        <span class="close-box-collapse right-boxed ion-ios-close"></span>
        <div class="box-collapse-wrap form">
            <form class="form-a">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label for="Type">Keyword</label>
                            <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="Type">Type</label>
                            <select class="form-control form-control-lg form-control-a" id="Type">
                                <option>All Types</option>
                                <option>Residential</option>
                                <option>Commercial</option>
                                <option>Agricultural</option>
                                <option>Investment</option>
                                <option>Bank Instruction</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="city">City</label>
                            <select class="form-control form-control-lg form-control-a" id="city">
                                <option>All City's</option>
                                <option>Johannesburg</option>
                                <option>Pretoria</option>
                                <option>Durban</option>
                                <option>Cape Town</option>
                                <option>Nelspruit</option>
                                <option>Polokwane</option>
                                <option>East London</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bedrooms">Bedrooms</label>
                            <select class="form-control form-control-lg form-control-a" id="bedrooms">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="garages">Garages</label>
                            <select class="form-control form-control-lg form-control-a" id="garages">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bathrooms">Bathrooms</label>
                            <select class="form-control form-control-lg form-control-a" id="bathrooms">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">Search Property</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ======= Property Search Section End ======= -->
    <!-- ======= Intro and Breadcrumb Section Start ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Buyers Guide</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Buyers Guide
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Intro and Breadcrumb Section End ======= -->

    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="col-md-9 col-sm-9">
                <section id="content">
                    <section id="legal">
                        <section>
                            <h3>Account</h3>
                            <br />
                            <p>Every potential buyer needs to create an account to be able to register for the specific property. This will ensure the safety of all parties involved and all the necessary FICA requirements will be met.</p>
                        </section>
                        <br />
                        <section>
                            <h3>Registration</h3>
                            <br />
                            <p>If you’re interested to bid on one of our current properties that are listed, you’ll need to register to bid for the specific property you are interested in, as well as paying the R 5,050 bidders deposit. This will ensure that there is a foundation of trust between both the seller and buyer. The information provided by both the seller and buyer will serve as security for both parties The process is straight forward and the process involves the buyer to provide his/her proof of identification, proof of residence as well as a bidding deposit to be determined according to the value of the property and if successful will bind all parties to complete the sale. After registration, there will be specialist brokers available to answer any questions to the registered property as well as viewings leading up to the Auction.</p>
                        </section>
                        <br />
                        <section>
                            <h3>Bidding</h3>
                            <br />
                            <p>The bidding process can be broken up in the following steps:</p>
                            <p>1. <strong>Account & Registration</strong> – Open an account <a href="#">(here)</a> and complete individual registration via email received. </p>
                            <p>2. <strong>Registration (Property)</strong> – Once bidding opens, all registered bidders are free to place bids on their chosen properties <a href="#">(listings)</a>. Although bidding on all properties will open at the same time, each lot will have a different closing time – make sure to check the opening and closing times on your chosen properties so you’re ready to go on the day. Automatic bids can be made earlier.</p>
                            <p>3. <strong>Deposit</strong> – a <u>R 5,050 Bidding deposit</u> must be made by each Bidder to Auction-Prop and would be refunded if a bid is unsuccessful.</p>
                            <p>4. <strong>Open Viewings</strong> – Each property that is listed can also be viewed two weeks prior to the bidding date.</p>
                            <p>5. <strong>Bidding</strong> – Every listed property has a reserve price, this is the lowest price the seller is willing to accept. This will not necessarily be the opening bid. Terms and conditions can be seen on our</p>
                        </section>
                        <br />
                        <section>
                            <h3>Automatic and Manual Bidding</h3>
                            <br />
                            <p>Bids can me made manually or automatically. In the case you cannot make the bid on the day of the auction, you can set a Maximum Bid.  The computer will enter bids for you up to the maximum amount that you specified on.  No one will see your maximum bid until the amount is reached. </p>
                        </section>
                        <br />
                        <section>
                            <h3>Bidding Cut of Times</h3>
                            <br />
                            <p>Every lot has a separate cut of time. After every highest bid, there is a window of opportunity of 90 seconds to make a final bid. This is an extension that gives everyone their last change to place an additional counter-bid. This will continue until a full 90 seconds has passed. </p>
                        </section>
                        <br />
                        <section>
                            <h3>Due Diligence</h3>
                            <br />
                            <p>It is important to familiarize yourself with the Rules of the auction and the Conditions of sale as part of the process as our digital sales are unconditional – once a property is sold on the Auction-Prop platform, a legal contract has been formed and the successful bidder is legally obliged to complete the purchase.</p>
                            <p>The sale process is fully transparent: all bids are logged and displayed on the property page in real-time, and you’ll know exactly what’s happening at all times. There’s no need to worry about privacy though – bidders are only identified by a number.</p>
                        </section>
                        <br />
                    </section>
                </section><!-- /#agent-detail -->
            </div><!-- /.col-md-9 -->
            <!-- end Content -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/validate.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/scrollreveal.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Scripts/main.js"></script>

</body>
</html>



